= form_for post, html: {class: 'form-horizontal'} do |f|
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  .form-group
    = f.label 'Update status', for: 'post-content', class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :content, id: "post-content", class: 'form-control', autofocus: true, placeholder: 'What\'s up?'
  .form-group
    = f.label 'Upload File', for: 'post-attachment', class: "col-sm-2 control-label"
    .col-sm-10
      = f.file_field :attachment, id: "post-attachment", class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Post', class: 'btn btn-primary'
